.body1 {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.containerland {
  width: 380px;
  height: 400px;
  padding: 10px;
  padding-top: 40px;
  background: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-containerland {
  color: black;
  width: 380px;
  height: 400px;
  /* background-color:  #1b499e; */
  background-color: #286375;
  border-radius: 1rem;
  float: left;
  margin: 0px 15px;
}
.main-containerland h3 {
  color: white;
  padding: 10px;
}

.innerland {
  margin-top: 10px;
  width: 370px;
  height: 350px;
  overflow: hidden;
  overflow-y: scroll;
}
.containerland1{
  margin-top: 5px;
  overflow: hidden;
  overflow-y: scroll;
  width: 380px;
  height: 400px;
  padding: 10px;
  padding-top: 20px;
  background: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: left;
}
