 .navbar {
    overflow: hidden;
    background-color: #f6f8f7; 
  }
  
  .navbar a {
    float: left;
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 5px 3px; 
    text-decoration: none;
    width: 100%;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 5px 5px;
    background-color: inherit;
    font-family: inherit;
    float: left;
    
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #eee;
    
  }
  
 .subnav-content {
    display: none;
    position: relative;
    background-color: #f6f8f7;
    width: 100%;
    z-index: 1;
    float: left;
  }

  .subnav:hover .subnav-content {
    display: block;
  } 



  .subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
    text-align: left;
  }
   
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
 

 